.DS_Store
.git.bak/
.idea/workspace.xml
.idea/uiDesigner.xml
.idea/
.idea
.gradle/
.gradle
captures/
build/
ant_build/
bin/
gen/
out/
tmp/
classes/
local.properties
target/
*.orig
*.iml
**/*.iml
**/BuildConfig.java
keystore.properties
*.keystore
YouTubeAndroidPlayerApi.jar

