.DS_Store
.git.bak/
.idea/
.gradle/
captures/
build/
ant_build/
bin/
gen/
out/
tmp/
classes/
local.properties
target/
*.orig
*.iml
**/*.iml
**/BuildConfig.java
keystore.properties
*.keystore
YouTubeAndroidPlayerApi.jar
*.apk
output.json
