<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.emogoth.android.phone.mimi"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:remove="android:maxSdkVersion"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".app.MimiApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_title"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/security_config"
        android:theme="@style/Theme.Mimi.Light.Toolbar.Default"
        android:extractNativeLibs="false"
        tools:replace="android:theme, icon, label, allowBackup">
        <activity
            android:name=".activity.GalleryActivity2"
            android:label="@string/gallery"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.Mimi.Gallery"/>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="mimi.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="17" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.emogoth.android.phone.mimi.db.model.Board" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <service android:name=".service.DownloadService" />
        <service
            android:name=".autorefresh.RefreshJobService"
            android:label="Auto Refesh Service"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".activity.FilterActivity" />
        <activity
            android:name=".activity.PostItemListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_title" />
        <activity
            android:name=".activity.StartupActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TabsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_title"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SlidingPanelActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_title"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.PostItemDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".activity.PostItemListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.emogoth.android.phone.mimi.activity.PostItemListActivity" />
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.UrlRouterActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/board_link"
                    android:pathPattern="/.*"
                    android:scheme="http" />
                <data
                    android:host="@string/board_link"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".prefs.MimiSettings"
            android:label="@string/settings" />
        <activity
            android:name=".activity.ThemeSettingsActivity"
            android:label="@string/appearance_title">
            <intent-filter>
                <action android:name="com.emogoth.android.phone.mimi.activity.ThemeSettingsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.EditFiltersActivity" />

        <activity
            android:name=".activity.WebActivity"
            android:label="@string/title_activity_web" />
    </application>

</manifest>